# 共通
.env
.DS_Store
Thumbs.db

# Node/JS
node_modules/
dist/
.vite/

# C# / .NET
bin/
obj/
.vs/

# Logs
*.log
Token.txt
.env

#設定系ファイルを無視
discord-time-signal/*.ini
discord-time-signal/*age.json

# audio フォルダ内の特定拡張子を無視（再帰）
discord-time-signal/audio/**/*.wav
discord-time-signal/audio/**/*.mp3
discord-time-signal/audio/**/*.txt
discord-time-signal/audio/**
!discord-time-signal/audio/chime.wav
!discord-time-signal/audio/.gitkeep

#DISCORD時報BOTフォルダの一部を無視
資料/**

#configフォルダのファイルを無視
discord-time-signal/configs/**
