# 共通
.env
.DS_Store
Thumbs.db

# Node/JS
node_modules/
dist/
.vite/

# C# / .NET
bin/
obj/
.vs/

# Logs
*.log
Token.txt
.env

# audio フォルダ内の特定拡張子を無視（再帰）
audio/**/*.wav
audio/**/*.mp3
audio/**
!audio/.gitkeep